<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nomprenom2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NomprenomApp"
        android:allowBackup="true"
        android:icon="@drawable/main_icon_2"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="nomprenom.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.nomprenom2.model.GroupRecord, com.nomprenom2.model.NameRecord,
            com.nomprenom2.model.NameGroupRecord, com.nomprenom2.model.ZodiacRecord,
            com.nomprenom2.model.NameZodiacRecord, com.nomprenom2.model.PrefsRecord,
            com.nomprenom2.model.SearchRecord, com.nomprenom2.model.SelectedName" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/AppTheme"
            android:noHistory="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:parentActivityName=".view.SearchResultActivity"
            android:label="@string/search_names_act"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".view.SelectedNamesActivity"
            android:parentActivityName=".view.SearchResultActivity"
            android:label="@string/title_screen3"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".view.SelectedRegionActivity"
            android:label="@string/title_selected_region"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".view.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".view.NameDetailActivity"
            android:label="@string/title_activity_name_detail"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".view.AddNameActivity"
            android:parentActivityName=".view.SearchResultActivity"
            android:label="@string/title_activity_add_name"
            android:theme="@style/AppTheme" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3d54c086adf23c0e453febf597714ee7d95e009c" />
    </application>
</manifest>
